name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: 'npm' # Optimización: descarga más rápido las dependencias

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright tests
      # Aquí inyectamos los secretos como variables de entorno
      env:
        BUK_USER: ${{ secrets.BUK_USER }}
        BUK_PASSWORD: ${{ secrets.BUK_PASSWORD }}
      run: npx playwright test

    - name: Upload Report
      uses: actions/upload-artifact@v4
      if: always() # El reporte se subirá incluso si los tests fallan
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
